@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap');

@import "reset.css";
@import "variable.css";

/* components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-headers.css";
@import "components/user-component.css";



/* screens */
@import "screens/login.css";
@import "screens/friends.css";

body {
    font-family: 'Open Sans', sans-serif;
    color: #2e363e;
}

.mains-screen {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
    padding-top: 0px;
    padding-bottom: 0px;
}