.screen-header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    align-items: center;
}
/* 일관된 패딩값은 세밀한 조정이 불가해서 세분화 한 패당값 적용 */

.screen-header__title {
    font-size: 32px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 20px;
}